body {
	background: #fafafa;
	font-family: 'Comfortaa', cursive;
}

nav {
	/*background: #fff;*/
    background: $main-color;
	a:hover {
		color: $main-color;
	}
    a {
        color: #fff;
    }
}



a {
	color: #000;
}

hr {
    border-top: 2px solid $main-color;    
    width: 100px;
}

.btn {
    background: $main-color;
    color: #fff;
}

.heading {
	text-align: center;
    font-size: 20px;
    font-weight: 700;
	margin-top: 50px;
}

#home {
    img {
        max-width: 900px;
        max-height: 340px;
    }

	.about {
        margin-top: 30px;
        font-size: 1.1em;
    }

    .faculties {
    	background: $main-color;
    	margin-top: 50px;
    	color: #fff;

        a {
            color: #fff;
        }

    	.heading {
    		margin-top: 50px;
    	}

    	.faculty {
       		text-align: center;
       		padding: 30px 15px 30px 15px;
   			height: 230px;
   			margin-bottom: 30px;
    	}

    	.faculty:hover {
    		background: #fff;
    		color: #000;
    	}

    	.name{
    		margin-top: 10px;
    	}
    }
	
}

#faculty {
	.sections {
		margin-top: 50px;
	}
    .departments {
    	background: $main-color;
    	margin-top: 50px;
    	color: #fff;

        a {
            color: #fff;
        }

    	.department {
       		text-align: center;
       		padding: 30px 15px 0 15px;
		    height: 100px;
   			margin-bottom: 30px;
    	}

    	.department:hover {
    		background: #fff;
    		color: #000;
    	}
    }
}

#department {
	.sections {
		margin-top: 50px;
	}
    .lectors {
    	background: $main-color;
    	margin-top: 50px;
        padding-bottom: 25px;
    	color: #fff;

        a {
            color: #fff;
        }

    	.lector {
       		text-align: center;
            padding: 15px 15px 0 15px;
            margin-bottom: 10px;
            height: 210px;
    	}

    	.lector:hover {
    		background: #fff;
    		color: #000;
    	}

        .name {
            padding-top: 10px;
        }

    }
    .course {
        height: 105px;
        text-align: center;
        padding: 15px 5px 0 5px;
        font-size: 12px;
        background: #f4e9ff;
        margin-bottom: 10px;
    }
}

#lector {
    .courses {
        margin-top: 50px;
        .course {
            height: 105px;
            text-align: center;
            padding: 25px 10px 0 10px;
            font-size: 12px;
            background: #fff;
            margin-bottom: 10px;
        }
    }
    
    .reviews {        
        .comment {
            text-align: center;
        }
        .review {
            min-height: 200px;
            background: #fff;
            margin-bottom: 30px;
            border: 2px solid $main-color; 
            padding: 25px;
        }
        .head {
            text-transform: uppercase;
            border-bottom: 1px solid $main-color;
            padding-bottom: 5px;
        }
        .rate {
            padding-top: 15px;
        }
    }

    .newReview {
        padding: 25px;
        min-height: 200px;
        background: #fff;
        border: 2px solid $main-color; 
        margin-bottom: 50px;

    }

}

#course {

    .info {
        margin-bottom: 10px;
    }

    .reviews{
        .comment {
            text-align: center;
        }
        .review {
            min-height: 200px;
            background: #fff;
            margin-bottom: 30px;
            border: 2px solid $main-color; 
            padding: 25px;
        }
        .head {
            text-transform: uppercase;
            border-bottom: 1px solid $main-color;
            padding-bottom: 5px;
        }
        .rate {
            padding-top: 15px;
        }
    }
    .newReview {
        padding: 25px;
        min-height: 200px;
        background: #fff;
        border: 2px solid $main-color; 
        margin-bottom: 50px;

    }

}

#profile {
    img {
        max-height: 400px;
        max-width: 400px;
    }

    form {        
        min-height: 200px;
        background: #fff;
        margin: 30px 0;
        border: 2px solid $main-color; 
        padding: 25px;
    }

}